:root {
  --niebieski-ciemny: rgb(8, 26, 77);
  --niebieski-jasny: rgb(8, 35, 112);

  --zielony-ciemny: rgb(3, 44, 29);
  --zielony-jasny: rgb(2, 65, 43);

  --zolty-ciemny: theme(colors.yellow.700);
  --zolty-jasny: theme(colors.green.500);

  --mistrzowie-ciemny: rgb(38, 13, 39);
  --mistrzowie-jasny: rgb(54, 41, 66);

  --pula-ciemny: theme(colors.neutral.800);

  --pasek-ciemny: theme(colors.neutral.900);
}
