@import "./OverlaySetter.css";
@import "./PulaTile.css";
@import "./_variables.css";

html,
body,
#root {
  height: 100%;
}

#root {
  max-width: min(100vw, 1920px);
  max-height: min(100vh, 1080px);
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;
}

.StanyKont, .Licytacja, .KupowaniePodpowiedzi, .WykupienieZawodnika {
  height: 13%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.awantura-font p{
  font-family: var(--awantura-font);
  position: relative;
  top: 5px;
  left: 3px;
}

.eurostile-font p{
  font-family: var(--eurostile-font);
}

.vt323-font p{
  font-family: var(--vt323-font);
}