@import "./_variables.css";

.OverlaySetter {
  /*to mozna adjustowac*/
  width: 76%;
  height: 85%;
  
  /* temporary border: */
  border: 6px rgb(108, 0, 0);
  border-style: dashed;
}

.OverlaySetter .czas {
  background-color: var(--pula-ciemny);
}