@import "./_variables.css";

.PlayerInfoSetter {
  /*to mozna adjustowac*/
  width: 100%;
  height: 100%;
  font-family: var(--questrial-font);
}

.PlayerInfoSetter.niebiescy-info{
  background-color: var(--niebieski-jasny);
}

.PlayerInfoSetter.zieloni-info{
  background-color: var(--zielony-jasny);
}

.PlayerInfoSetter.zolci-info{
  background-color: var(--zolty-jasny);
}

.PlayerInfoSetter.mistrzowie-info{
  background-color: var(--mistrzowie-jasny);
}

.PlayerInfoSetter.ibisz-info{
  background-color: var(--ibisz-jasny);
}