@import "./_variables.css";

.StanyKont,
.Licytacja,
.KupowaniePodpowiedzi {
  height: 14%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.StanyKont .niebiescy-pula {
  background-color: var(--niebieski-jasny);
}
.Licytacja .niebiescy-pula,
.KupowaniePodpowiedzi .niebiescy-pula {
  background-color: var(--niebieski-ciemny);
}

.StanyKont .zieloni-pula {
  background-color: var(--zielony-jasny);
}
.Licytacja .zieloni-pula,
.KupowaniePodpowiedzi .zieloni-pula {
  background-color: var(--zielony-ciemny);
}

.StanyKont .zolci-pula {
  background-color: var(--zolty-jasny);
}
.Licytacja .zolci-pula,
.KupowaniePodpowiedzi .zolci-pula {
  background-color: var(--zolty-ciemny);
}

.StanyKont .mistrzowie-pula {
  background-color: var(--mistrzowie-jasny);
}
.Licytacja .mistrzowie-pula,
.KupowaniePodpowiedzi .mistrzowie-pula {
  background-color: var(--mistrzowie-ciemny);
}

.StanyKont .ogolna-pula {
  background-color: var(--pula-ciemny);
}

.space-waster {
  width: 28%;
}

.opis {
  background-color: var(--pasek-ciemny);
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--eurostile-font);
  letter-spacing: 1.5px;
  @apply text-xl;
}

.Licytacja .opis {
  letter-spacing: 8px;
}

.ogolna-pula .opis {
  letter-spacing: 4px;
}


.awantura-font p {
  position: relative;
  top: 5px;
  left: 3px;
}
