<!--Base: https://freefrontend.com/css-login-forms/ -->

<html lang="en"> 
 <head> 
  <meta charset="UTF-8"> 

  <title>Awantura o kase - panel gry</title> 
  {% load static %}
  <link rel="stylesheet" type = 'text/css' href="{% static 'style_home.css' %}"> 
  <script>
   // dzieci nie robcie tego w domu
   window.onload = function () {
    for (var i = 0; i <= 260; i++) { 
     let span = document.createElement('span'); 
     var section = document.getElementsByTagName('section')[0]; 
     section.appendChild(span);
   }
    console.log("hiii:3");
   }
  </script>
 </head> 

 <body> <!-- partial:index.partial.html --> 

  <section> 

   <div class="signin"> 

    <div class="content">
     <div class="pre-login-info">
      <h1>Awantura o Kase </h1> 
      <h2>Panel admina</h2> 
     </div>
     
     <div class="form"> 

      <form action="/login/" method="post">{% csrf_token %}
    
        <div class="inputBox"> 
            <input type="submit" value="Sign In">
        </div> 
    </form>

     </div> 

    </div> 

   </div> 

  </section> <!-- partial --> 

 </body>

</html>