<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Przykładowa strona z przyciskami</title>
</head>
<body>
    <h3>Current overlay: '{{overlay}}'</h3>
    <h3>Wlaczony czas: '{{czas}}'</h3>
    <h3>Pokazane 1na1: '{{pokaz_1na1}}'</h3>
    
    <h1>Wybierz opcję</h1>
    <form method = "post" action = "{% url 'stream_panel' %}">{% csrf_token %}
        <button type = "submit" name = "czas" value="czas">Toggle czas (true/false)</button>
        <button type = "submit" name = "pokaz_1na1" value="pokaz_1na1">Pokaz 1-na-1 (true/false)</button>
        <br/><br/>
        <button type = "submit" name = "wylaczony" value = "wylaczony">Wyłączony</button>
        <button type = "submit" name = "stany-kont" value = "stany-kont">Stany kont</button>
        <button type = "submit" name = "licytacja" value = "licytacja">Licytacja</button>
        <button type = "submit" name = "pytanie" value = "wykupienie-zawodnika">Pytanie</button>
        <button type = "submit" name = "pytanie-podpowiedzi" value = "pytanie-podpowiedzi">Pytanie+Podpowiedzi</button>
        

    </form>
</body>
</html>