:root {
  --niebieski-ciemny: rgb(8, 26, 77);
  --niebieski-jasny: rgb(8, 35, 112);

  --zielony-ciemny: rgb(3, 44, 29);
  --zielony-jasny: rgb(2, 65, 43);

  /* Add fallbacks for theme() resolution */
  --zolty-ciemny: #a65f00;
  --zolty-jasny: #d78600;

  --mistrzowie-ciemny: rgb(61, 55, 65);
  --mistrzowie-jasny: rgb(86, 78, 92);

  --pula-ciemny: #404040;
  --ibisz-jasny: #52525c;
  --pasek-ciemny: #171717;

  --awantura-font: 'LCDDot';
  --eurostile-font: 'Eurostile';
  --vt323-font: 'VT323';
  --questrial-font: 'Questrial';
}
