@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
Base: https://freefrontend.com/css-login-forms/
*/

@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'LCDDot';
  src: 
      url('./fonts/LCDDot.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

section .main-container
{
  
  
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  background: rgba(61.2, 61.2, 61.2, 0.9);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 15px 35px rgba(0,0,0,9);
  backdrop-filter: blur(5px);
}

.main-container .title-container {
  background-color: red;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container .team-container {
  /*background-color: rgb(184, 0, 0);*/
}

.main-container .team-container * {
  /*background-color: rgba(189, 189, 189, 0.4);*/
}

.main-container .team-container * * {
  /*background-color: purple;*/
  /*width: fit-content;
  padding: 10px;*/
  /*min-width: 0;*/
}

.srodki span,
.pula > span
{
  background: none;
  background-color: transparent!important;
  font-family: 'LCDDot', 'Quicksand', 'sans-serif';
  position: relative;
  top: 5px;
  left: 2px;
}

.pula-clip {
  clip-path: polygon(0 0, 100% 0%, 90% 100%, 0 100%);
  /*padding-right: 30px;*/
}

input[type="text"].kasa,
div#popup-modal-kara span,
div#popup-modal-1-na-1 span,
div#popup-modal-podpowiedz span,
div#popup-modal-wykup-zawodnika span,
.awantura-font
{ /* Move text down by 2px; adjust as necessary */
  /*color: purple!important;*/
  /*padding-top: 5px;*/
  font-family: 'LCDDot', 'Quicksand', 'sans-serif'!important;
}
.kasa-buttons, .kasa-buttons span{
  font-family: 'LCDDot', 'Quicksand', 'sans-serif';
}

button,
#kategoria,
input[type="text"].kasa {
  box-shadow: rgba(54, 24, 102, 0.2) 0 -25px 18px -14px inset;
}

#kategoria {
  cursor: pointer
}

/*.team-niebiescy {
  background-color: rgb(0, 44, 97)!important;
}*/
.team-zieloni {
  background-color: rgb(3, 79, 3)!important;
}
.team-zolci{
  background-color: rgb(129, 129, 4)!important;
}
.team-mistrzowie{
  background-color: #3b353b!important;
}








.main-container .team-container > div {
  flex-grow: 1;
}

.main-container .team-container > div > div:has(>button) {
  /*box-sizing: border-box;*/
  width: 100%;
}

.main-container .team-container > div > div > button {
  border: 2px solid black;
  flex-grow: 2;
}

.main-container .team-container > div > div > button:last-child {
  flex-grow: 4;

}




.main-container .team-container .col-runda-pula * {
  width: 100%;
}

/*prevents double-dipping on <select> */
.main-container .action-container .col-runda-pula * * {
  padding: 0;
}




/*.main-container .team-container * .kasa{
  color: red;
  width: 100%;
  text-align: center;
  width: 100%;
}

.main-container .team-container * .vabank{
  padding: 8px;
  width: 100%;
}*/

.main-container .action-container {
  position: relative;
}

.reset-gry {
  position: relative;
  overflow: hidden;
}

.reset-gry::after {
  content: "";
  background-image: url(warning-sign.png);
  background-repeat: repeat;
  background-size: 20%;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.1;
  border-radius: inherit;
}

.odp-dobra {
  box-shadow: rgba(6, 41, 11, 0.3) 0 -25px 18px -14px inset;
}

.odp-zla {
  box-shadow: rgba(78, 14, 14, 0.3) 0 -25px 18px -14px inset;
}

.odp-podpowiedz {
  box-shadow: rgba(53, 52, 4, 0.3) 0 -25px 18px -14px inset;
}

.odp-czas {
  box-shadow: rgba(13, 65, 99, 0.3) 0 -25px 18px -14px inset;
}

.type-hardcoded {  }
.type-input {  }
.type-input {  }


.disabled {
  pointer-events: none;
  filter: brightness(0.5);
}


/* ~~~~~~~~~~~~~~~ */


*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
body 
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
  color: white;
}
section 
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
section::before 
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000,#0f0,#000);
  animation: animate 5s linear infinite;
}
@keyframes animate 
{
  0%
  {
    transform: translateY(-100%);
  }
  100%
  {
    transform: translateY(100%);
  }
}



section .main-container .content 
{
  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
section .main-container .content h2,
section .main-container .content h1,
section .main-container .content h3
{
  font-size: 2em;
  color: #0f0;
  text-transform: uppercase;
}
section .main-container .content .form 
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
section .main-container .content .form .inputBox
{
  margin-top: 20px;
  position: relative;
  width: 100%;
}
section .main-container .content .form .inputBox input 
{
  
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 16px 10px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}
section .main-container .content .form .inputBox i 
{
  
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}
.main-container .content .form .inputBox input:focus ~ i,
.main-container .content .form .inputBox input:valid ~ i
{
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}
.main-container .content .form .links 
{
  
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main-container .content .form .links a 
{
  color: #fff;
  text-decoration: none;
}
.main-container .content .form .links a:nth-child(2)
{
  color: #0f0;
  font-weight: 600;
}
.main-container .content .form .inputBox input[type="submit"]
{
  padding: 10px;
  background: #0f0;
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
input[type="submit"]:active
{
  opacity: 0.6;
}

/* nowe rzeczy pod spodem uuuu */
.display-none {
  display: none;
}

section .main-container .content h1
{
  font-size: 2.5em;
  color: #0f0;
  text-transform: uppercase;
}

.pre-login-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

